body{
  font-family: 'Montserrat', sans-serif;
  color:#323232;
  font-size:14px;
}

a{
  color:#323232;
  &:hover{
    text-decoration: none;
    color:#ff3800;
  }
}

h1,h2,h3,h4,h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color:#323232;
}
