#header{
  background-image: url("assets/img/banner.jpg");
  background-repeat: no-repeat;
  background-color:#000;
  background-size: cover;
  background-position: center center;
  position:relative;
  height: 100vh;
  .logo{
    max-width: 200px;
  }
  nav{
    .navbar-nav{
      .nav-item{
        a{
          color:#FFF;
          font-weight: bold;
          &:hover{
            color:#02d472;
          }
        }
      }
    }
  }
  .banner-title{
    position:absolute;
    top:35%;
    text-align:center;
    left:0;
    right:0;
    margin:0 auto;
    h1{
      border:3px solid #FFF;
      padding:1rem 1rem;
      margin-bottom:1rem;
      color:#FFF;
      font-weight: bold;
      display: inline-block;
      font-size:2.5rem;
    }
    h2{
      color:#FFF;
      font-weight: normal;
      font-size:1rem;
    }   
  }
}