#header{
  background-color:#FFF;
  .nav-container{
    border:1px solid #e2e2e3;
    .navbar-brand{
      display:inline-block;
    }
    .social-media{
      width:100px;
      a{
        font-size:1.25rem;
        margin-right:.25rem;
      }
    }
    .main-nav{
      .active{
        a{
          color:#ff3800;
        }
      }
      a{
        color:#323232;
        &:hover{
          text-decoration: none;
          color:#ff3800;
        }
      }
    }
    .search{
      width:100px;
      a{
        font-size:1.25rem;
      }
    }
  }
}
#banner{
  .banner-sind{
    background-image: url("assets/img/sind.jpg");
    background-repeat: no-repeat;
    background-color:#fc7800;
    color:#FFF;
    max-height: 270px;
    .banner-box{
      padding:3rem 0;
      text-align: center;
      img{
        height: 50px;
      }
      h2{
        color:#FFF;
        font-size:1.25rem;
        text-transform: uppercase;
        margin-top:2rem;
      }
      h4{
        font-weight: normal;
        color:#FFF;
        font-size:.875rem;
      }
    }
    .btn-sind{
      border:1px solid #009045;
      background-color:#009045;
      display: block;
      padding:.75rem;
      text-align: center;
      color:#FFF;
      &:hover{
        background-color:#FFF;
        color:#009045;
      }
    }
  }
  .banner-parc{
    background-image: url("assets/img/parc.jpg");
    background-repeat: no-repeat;
    background-color:#ff3800;
    color:#FFF;
    max-height: 270px;
    .banner-box{
      padding:3rem 0;
      text-align: center;
      img{
        height: 50px;
      }
      h2{
        color:#FFF;
        font-size:1.25rem;
        text-transform: uppercase;
        margin-top:2rem;
      }
      h4{
        font-weight: normal;
        color:#FFF;
        font-size:.875rem;
      }
    }
    .btn-sind{
      border:1px solid #ff3800;
      background-color:#ff3800;
      display: block;
      padding:.75rem;
      text-align: center;
      color:#FFF;
      &:hover{
        background-color:#FFF;
        color:#ff3800;
      }
    }
  }
}
